[submodule "lib_google_img"]
	path = Proiect1/lib_google_img
	url = https://github.com/rachmadaniHaryono/google-images-download
[submodule "Proiect1/lib_google_img"]
	path = Proiect1/lib_google_img
	url = https://github.com/rachmadaniHaryono/google-images-download
